.DS_Store
.idea/
.vscode/
*__pycache__*
*.pyc
*.swp
media/teamslogo/*
media/cropslogos/*
media/cards/*
media/codes/*
media/reports/*
env/
venv/
local_settings.py
dev_settings.py
resources/
static/admin/
static/suit/
migrations/__init__.py
*/migrations/*.py
!*/migrations/__init__.py
node_modules/
